@charset "UTF-8";
.arrow-button {
  width: 3rem;
  height: 3rem;
  border: 2px solid #0066af;
  border-radius: 50%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 0;
}
.arrow-button::after {
  content: "";
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transition: 0.2s ease-in-out;
  transform: translate(-50%, -50%);
  position: absolute;
  background: #fff;
  border-radius: 50%;
  z-index: -1;
}
.arrow-button svg {
  width: 50%;
  height: 50%;
}
.arrow-button svg path {
  fill: #0066af;
}
.arrow-button:not(:disabled):not(.slick-disabled):hover {
  cursor: pointer;
}
.arrow-button:not(:disabled):not(.slick-disabled):hover:after {
  width: 100%;
  height: 100%;
}
.arrow-button:disabled, .arrow-button.slick-disabled {
  border-color: #b7b7b7;
}
.arrow-button:disabled:hover, .arrow-button.slick-disabled:hover {
  cursor: no-drop;
}
.arrow-button:disabled svg path, .arrow-button.slick-disabled svg path {
  fill: #b7b7b7;
}
.arrow-button_left svg {
  transform: rotate(180deg);
}
.arrow-button_top svg {
  transform: rotate(-90deg);
}
.arrow-button_dark {
  border-color: #213b59;
}
.arrow-button_dark svg path {
  fill: #213b59;
}

.scroll-to-top {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  display: none;
}
.scroll-to-top.active {
  display: flex;
}

@media screen and (max-width: 992px) {
  .arrow-button {
    border-width: 1px;
  }
}
@media (max-width: 768px) {
  .arrow-button {
    padding: 0;
  }
}
.image-slider__control {
  display: flex;
  align-items: center;
}
.image-slider__control__counter {
  flex-shrink: 0;
  font-weight: 600;
}
.image-slider__control__counter__current {
  color: #0e82c3;
}
.image-slider__control__progress {
  margin: 0 1rem;
  flex: 1 1 auto;
}
.image-slider__control__progress ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.image-slider__control__progress ul li {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
}
.image-slider__control__progress ul li button {
  background: #b7b7b7;
  width: 100%;
  height: 2px;
  color: transparent;
  border: none;
  cursor: pointer;
}
.image-slider__control__progress ul li.slick-active button {
  background: #0e82c3;
}
.image-slider__control__buttons {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.image-slider__control__buttons button:first-child {
  margin-right: 1rem;
}
.image-slider__description li {
  cursor: pointer;
}
.image-slider__description_active {
  color: #0e82c3;
}

.slidedown {
  padding: 2rem 0;
  border-top: 2px solid #335472;
}
.slidedown:first-child {
  border-top: none;
}
.slidedown-button {
  border: none;
  background: none;
  font-size: 1.75rem;
  color: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.slidedown-button__icon {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #0066af;
  transform-origin: center;
}
.slidedown-button__icon svg {
  width: 50%;
  height: 50%;
  transform: rotate(-180deg);
}
.slidedown-button__icon svg path {
  fill: #0066af;
}
.slidedown.active .slidedown-button .slidedown-button__icon {
  background: #0066af;
  border: 1px solid #fff;
}
.slidedown.active .slidedown-button .slidedown-button__icon svg {
  transform: rotate(0deg);
}
.slidedown.active .slidedown-button .slidedown-button__icon svg path {
  fill: #fff;
}
.slidedown-content {
  display: none;
  padding-top: 2rem;
  padding-left: 4rem;
}
.slidedown-content h4 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
}
.slidedown-content ul li {
  font-size: 1.5rem;
  line-height: 1.5;
}
.slidedown-content p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.color-table {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}
.color-table thead th {
  text-align: left;
  padding: 0.5rem 0;
}
.color-table thead th:nth-child(3) {
  padding: 0.5rem 2rem;
}
.color-table tbody {
  color: #fff;
}
.color-table tbody td {
  padding: 1rem 0;
}
.color-table tbody td:first-child {
  font-size: 2rem;
  padding-left: 2rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  padding-right: 1rem;
}
.color-table tbody td:last-child {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  padding-right: 2rem;
}
.color-table tbody td:nth-child(2) {
  width: 45%;
}
.color-table tbody td:nth-child(3) {
  padding: 1rem 2rem;
  width: 38%;
}
.color-table tbody td:nth-child(4) {
  width: 20%;
}
.color-table tbody tr:nth-child(1) {
  background: #8cc37d;
}
.color-table tbody tr:nth-child(2) {
  background: #84c7af;
}
.color-table tbody tr:nth-child(3) {
  background: #61b8be;
}
.color-table tbody tr:nth-child(4) {
  background: #63c1ed;
}
.color-table tbody tr:nth-child(5) {
  background: #5889c3;
}
.color-table tbody tr:nth-child(6) {
  background: #7d5888;
}
.color-table tbody tr:nth-child(7) {
  background: #c67091;
}
.color-table tbody tr:nth-child(8) {
  background: #db6064;
}
.color-table tbody tr:nth-child(9) {
  background: #df7c56;
}

.standard_search {
  box-sizing: border-box;
}
.standard_search input[type=text] {
  appearance: none;
  outline: none;
  border: 0;
}
.standard_search form {
  position: relative;
  display: block;
  z-index: 1;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0;
  padding: 0;
  border: 2px solid #335472;
  border-radius: 1rem;
  -webkit-transition: all 0.25s ease 0.3s;
  transition: all 0.25s ease 0.3s;
  cursor: pointer;
}
.standard_search form::before {
  content: "";
  position: absolute;
  display: block;
  top: 90%;
  left: 90%;
  width: 0.75rem;
  height: 0.25rem;
  background-color: #335472;
  border-radius: 1px;
  -webkit-transition: width 0.15s ease 0.55s;
  transition: width 0.15s ease 0.55s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: left;
  transform-origin: left;
}
.standard_search form.open {
  width: 8rem;
  height: auto;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.standard_search form.open::before {
  width: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.standard_search form.open input {
  opacity: 1;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.standard_search form input {
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  opacity: 0;
  background-color: transparent;
  color: #000;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}

.link {
  font-size: 1.25rem;
  color: #0066af;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.link__icon {
  vertical-align: middle;
  margin-left: 0.75rem;
  width: 1.75rem;
  height: 1.75rem;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.link__icon::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  border: 0px solid #0066af;
  transition: 0.2s ease-in-out all;
  background: #fff;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -2;
}
.link__icon::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transition: 0.2s ease-in-out all;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 1px solid #fff;
  background: #0066af;
  border-radius: 50%;
  z-index: -1;
}
.link__icon svg {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.link__icon svg path {
  transition: 0.2s ease-out;
}
.link:hover .link__icon::after {
  width: 0;
  height: 0;
}
.link:hover .link__icon::before {
  border-width: 1px;
}
.link:hover .link__icon svg > path {
  fill: #0066af;
}
.link_white {
  color: #fff;
}
.link_white .link__icon::before {
  background: #0066af;
  border-color: #fff;
}
.link_white .link__icon::after {
  background: #fff;
  border-color: #0066af;
}
.link_white .link__icon svg > path {
  fill: #0066af;
}
.link_white:hover .link__icon svg > path {
  fill: #fff;
}
.link_right {
  text-align: right;
}
.link_big {
  display: flex;
  align-items: center;
  line-height: 1.5;
}
.link_big .link__icon {
  width: 3rem;
  height: 3rem;
}
.link_big .link__icon svg {
  padding: 30%;
}
.link_dark {
  color: #335472;
}
.link_dark .link__icon::before {
  border-color: #335472;
}
.link_dark .link__icon::after {
  background: #335472;
}
.link_dark:hover .link__icon svg > path {
  fill: #335472;
}
.link_up .link__icon {
  transform: rotate(-45deg);
}
.link_up .link__icon svg {
  padding: 20%;
}
.link_down .link__icon {
  transform: rotate(45deg);
}
.link_down .link__icon svg {
  padding: 20%;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.logo__image {
  width: 3.5rem;
  display: block;
}
.logo__image .svg {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.logo__line {
  height: 5rem;
  width: 3px;
  background-color: #335472;
  display: inline-block;
  margin: 0 1rem;
}
.logo__text {
  text-transform: uppercase;
  color: #335472;
  font-size: 1rem;
  font-weight: bold;
}
.logo_white .logo__image path {
  fill: #fff;
}
.logo_white .logo__line {
  background-color: #fff;
}
.logo_white .logo__text {
  color: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}

body {
  background: #f6f6f6;
}

h3 {
  color: inherit;
  font-weight: 400;
  font-size: 2rem;
}

p {
  color: inherit;
  font-size: 1.25rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

h4 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 1.25rem 0;
}

ul {
  font-size: 1.25rem;
  list-style-type: "—";
  list-style-position: "outside";
  margin: 0.5rem 0;
  padding-left: 1rem;
}
ul li {
  padding-left: 0.5rem;
  line-height: 1.5;
}

.viewer-toolbar ul {
  list-style: initial;
}
.viewer-toolbar ul li {
  font-size: 0;
  line-height: 0;
  padding-left: initial;
}

.image-viewer {
  cursor: zoom-in;
}

.w-4 {
  width: 4rem;
}

.mb-16 {
  margin-bottom: 16rem;
}

.main {
  position: relative;
  margin-top: 8rem;
}

.caption {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  line-height: 1.5;
}

.slider-buttons {
  display: flex;
}
.slider-buttons .arrow-button:first-child {
  margin-right: 0.75rem;
}

.slider {
  position: relative;
  width: 100%;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.lang {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  color: #969696;
}
.lang__text {
  color: #969696;
}
.lang a {
  color: #335472;
  text-decoration: none;
}
.lang__white .lang__text {
  color: #adadad;
}
.lang_white a {
  color: #fff;
}

.image-layers {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10%;
}
.image-layers img {
  position: relative;
  width: 65%;
  z-index: 1;
}
.image-layers__top {
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.image-layers img.image-layers__bottom {
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.icv__circle {
  background: #0076e4;
}

.icv__arrow-wrapper svg path {
  stroke: #fff;
}

.color-blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.color-blocks-item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.color-block__color {
  width: 3rem;
  height: 1.5rem;
}
.color-block__text {
  margin-left: 0.5rem;
  display: inline-block;
}

@media (min-width: 1660px) {
  .container {
    max-width: 1440px;
  }
  .outer-container {
    max-width: 1600px;
    padding: 0;
  }
}
@media (min-width: 2000px) {
  html {
    font-size: 120%;
  }
  .container {
    max-width: 1740px;
  }
  .outer-container {
    max-width: 1900px;
    padding: 0;
  }
}
@media (max-width: 1660px) {
  .outer-container {
    max-width: 1340px;
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 75%;
  }
  .outer-container {
    max-width: 1100px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 75%;
  }
  .main {
    padding: 0 2rem;
  }
  .outer-container {
    max-width: none;
    padding: 0 2rem;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 62.5%;
  }
  .icv__circle {
    max-width: 2.5rem;
    max-height: 2.5rem;
  }
  .icv__control svg {
    max-width: 1.25rem;
    max-height: 1.25rem;
  }
  .icv__control .icv__arrow-wrapper:first-child {
    margin-left: 8px;
  }
  .icv__control .icv__arrow-wrapper:last-child {
    margin-right: 8px;
  }
}
.section {
  max-width: 1600px;
  margin: 8rem auto;
  padding: 3.5rem 0;
  position: relative;
  z-index: 1;
}
.section:first-child {
  margin-top: 0;
}
.section_blue {
  background: #ddeaf6;
  color: #213b59;
}
.section_dark-blue {
  background: #335472;
  color: #fff;
}
.section_gray {
  background: #e7e7e7;
  color: #213b59;
}
.section-background {
  position: absolute;
  opacity: 60%;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-height: 100%;
}
.section-background_right {
  left: auto;
  right: 0;
}
.section-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 3rem;
  color: #213b59;
}
.section-title::after {
  display: block;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  flex: 1 1 auto;
  content: "";
  height: 2px;
  background: #213b59;
}
.section-title::before {
  display: none;
}
.section-title_right::before {
  display: block;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  flex: 1 1 auto;
  content: "";
  height: 2px;
  background: #fff;
}
.section-title_right::after {
  display: none;
}
.section-title_white {
  color: #fff;
}
.section-title_white::after {
  background: #fff;
}
.section-text {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.75rem;
}
.section-text_white {
  color: #fff;
}
.section__between {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -4rem;
  transform: translateY(50%);
}

@media (min-width: 2000px) {
  .section {
    max-width: 1900px;
  }
}
@media (max-width: 1660px) {
  .section {
    max-width: 1340px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 1400px) {
  .section {
    max-width: 1100px;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (max-width: 1200px) {
  .section {
    max-width: none;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .section-title {
    text-align: center;
    display: block;
    position: relative;
    padding-bottom: 0;
  }
  .section-title::after {
    position: absolute;
    bottom: -1.5rem;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.4;
    margin: 0;
  }
  .section-text {
    text-align: center;
  }
}
.overlay {
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.overlay.hidden {
  display: none;
}
.overlay .popup {
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: flex;
}
.overlay .popup__close {
  position: absolute;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  background: #0066af;
  border: none;
  transform: translate(50%, -50%);
}
.overlay .popup__close::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transition: 0.2s ease-in-out;
  transform: translate(-50%, -50%);
  position: absolute;
  background: #fff;
  border-radius: 50%;
  z-index: 0;
}
.overlay .popup__close svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.overlay .popup__close svg path {
  transition: 0.2s ease-out;
  stroke: #0066af;
}
.overlay .popup__close:hover::after {
  width: 0;
  height: 0;
}
.overlay .popup__close:hover svg path {
  stroke: #fff;
}

.tabs {
  overflow: auto;
  margin-bottom: 6.5rem;
  position: relative;
  padding: 0;
  padding-bottom: 1.75rem;
}
.tabs-content {
  position: relative;
}
.tabs-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #335472;
  text-decoration: none;
  position: relative;
}
.tabs-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: rgba(51, 84, 114, 0.3);
  bottom: -1.75rem;
  left: 0;
}
.tabs-item__image {
  width: 4rem;
  height: 4rem;
  max-width: 100%;
}
.tabs-item__title {
  text-align: center;
  color: inherit;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  font-size: 1rem;
}
.tabs-item__arrow {
  width: 1rem;
  height: 1rem;
  transform: rotate(180deg);
}
.tabs-item_active {
  color: #07959e;
  z-index: 10;
}
.tabs-item_active::after {
  background: #07959e;
}
.tabs-item_active > .tabs-item__image path {
  fill: #07959e;
}
.tabs-item_active .tabs-item__arrow path {
  fill: #07959e;
}

.tab_hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .tabs-item {
    width: 10rem;
  }
  .tabs__links {
    flex-direction: column;
    align-items: center;
    bottom: -6rem;
  }
  .tabs__link {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .tabs__link:last-child {
    margin-bottom: 0;
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #f6f6f6;
  padding: 1.5rem 0;
  z-index: 100;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-menu > ul > li {
  padding: 0;
  margin: 0;
  margin-right: 1.5rem;
  position: relative;
}
.header-menu > ul > li > a {
  font-weight: 500;
  font-size: 1rem;
  color: #335472;
  text-transform: uppercase;
}
.header-menu a {
  color: #335472;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}
.header-menu a:hover {
  color: #0066af;
}
.header-menu a.current {
  color: #0076e4;
}
.header-menu_wrapper {
  display: flex;
  align-items: center;
}
.header-submenu {
  display: none;
  position: absolute;
  background: #f6f6f6;
  left: -2rem;
  top: 100%;
  box-shadow: 0px 21px 46px rgba(150, 150, 150, 0.1);
}
.header-submenu ul {
  padding: 2rem 3rem;
  margin: 0;
  list-style: none;
}
.header-submenu ul li {
  margin-bottom: 1rem;
}
.header-submenu ul li:last-child {
  margin-bottom: 0;
}
.header-submenu a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: #335472;
  white-space: nowrap;
}
.header-menu > ul > li.header-menu__list__item_has-submenu > a::after {
  content: "";
  position: relative;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  display: inline-block;
  background: url("../assets/icons/small-arrow.svg") center no-repeat;
  background-size: contain;
  transform: rotate(180deg);
  transform-origin: center;
  transition: all 0.25s ease;
  color: #335472;
}
.header-menu > ul > li.active > a {
  color: #0066af;
}
.header-menu > ul > li.active > a::after {
  transform: rotate(0deg);
}
.header-menu > ul > li.active > .header-submenu {
  display: block;
}
.header-lang {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  color: #969696;
}
.header-lang_active {
  color: #335472;
}

@media (max-width: 992px) {
  .header-menu__list__item {
    margin: 0 1rem;
  }
}
@media (max-width: 768px) {
  .header-aside {
    display: flex;
    align-items: center;
  }
  .header-menu {
    width: 100%;
    padding-top: 1rem;
  }
  .header-menu_wrapper {
    position: fixed;
    right: 0;
    top: 0;
    background: #f6f6f6;
    z-index: 1000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8rem;
    transition: 0.3s ease-in-out;
  }
  .header-menu_wrapper.mobile-hidden {
    transform: translateX(100%);
  }
  .header-menu ul {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-menu ul li {
    margin: 0;
    width: 100%;
  }
  .header-menu ul li a {
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #0066af;
    text-transform: uppercase;
    font-weight: 500;
  }
  .header-menu ul li > a::after {
    width: 2rem;
    height: 2rem;
  }
  .header-menu ul li:last-child a {
    border-bottom: 1px solid #0066af;
  }
  .header-menu ul li.active.header-menu__list__item_has-submenu > a {
    border-bottom: 1px solid #0066af;
  }
  .header-menu ul li ul {
    padding: 1rem 1rem 1rem 4rem;
  }
  .header-menu ul li ul li a {
    padding: 0.5rem 0;
    text-transform: initial;
    font-weight: 400;
    border: none;
  }
  .header-menu ul li ul li:last-child a {
    border: none;
  }
  .header-menu-button {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1.5rem;
    z-index: 10001;
  }
  .header-menu-button span {
    position: absolute;
    background: #335472;
    height: 2px;
    width: 100%;
    top: 50%;
  }
  .header-menu-button::after, .header-menu-button::before {
    content: "";
    position: absolute;
    background: #335472;
    height: 2px;
    transition: 0.2s ease-out;
    width: 100%;
    transform-origin: center;
  }
  .header-menu-button::after {
    top: 20%;
  }
  .header-menu-button::before {
    top: 80%;
  }
  .header-menu-button.active span {
    opacity: 0;
  }
  .header-menu-button.active::after {
    top: 50%;
    transform: rotate(135deg);
  }
  .header-menu-button.active::before {
    top: 50%;
    transform: rotate(-135deg);
  }
  .header-menu > ul > li.header-menu__list__item_has-submenu > a::after {
    width: 1.5rem;
    height: 1.5rem;
  }
  .header-submenu {
    display: block;
    position: static;
    background: none;
    height: 0;
    overflow: hidden;
  }
  .header-submenu__list {
    padding: 1.5rem;
    box-shadow: none;
    background: none;
  }
  .header-submenu__link {
    font-size: 1.25rem;
  }
  .header-menu__list__item.active .header-submenu {
    height: 100%;
  }
}
.footer-main {
  margin: 0 auto;
  background: #335472;
  padding: 4rem 0;
}
.footer-logo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer-menu {
  position: relative;
}
.footer-menu::after, .footer-menu::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 90%;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
}
.footer-menu::after {
  right: 10%;
}
.footer-menu::before {
  left: 10%;
}
.footer-menu nav {
  display: block;
}
.footer-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-menu ul li {
  padding: 0;
  margin: 0 0 2.25rem;
}
.footer-menu ul li:last-child {
  margin-bottom: 0;
}
.footer-menu ul li a {
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
}
.footer-menu a {
  color: #fff;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}
.footer-menu a:hover {
  color: white;
}
.footer-contacts__title {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #fff;
}
.footer-contacts__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-contacts__list li {
  padding: 0;
  margin: 0 0 1rem;
}
.footer-contacts__list li a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}
.footer-social a {
  display: inline-block;
  margin-right: 1rem;
}
.footer-social a:last-child {
  margin-right: 0;
}
.footer-small {
  padding: 1.5rem 0;
  margin: 1.5rem 0;
  font-size: 1rem;
  color: #213b59;
  text-align: center;
}
.footer-small__line {
  height: 1.5rem;
  width: 2px;
  background: #213b59;
  display: inline-block;
  margin: 0 0.5rem;
}
.footer-small a {
  color: inherit;
  text-decoration: none;
}
.footer-small a:hover {
  color: #0066af;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer .lang {
    margin-left: 5rem;
  }
  .footer-small__line {
    height: 1px;
    width: 10rem;
    margin: 0.5rem 0;
  }
  .footer-menu {
    padding: 4rem 0;
  }
  .footer-menu::after, .footer-menu::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background: #fff;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer-menu::after {
    top: 2rem;
  }
  .footer-menu::before {
    bottom: 2rem;
  }
  .footer-menu ul li {
    margin-bottom: 1.25rem;
  }
  .footer-contacts__title {
    text-align: center;
  }
  .footer-contacts__list {
    text-align: center;
  }
}
.hero {
  height: 38rem;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}
.hero-content {
  color: #fff;
}
.hero-content__title {
  font-size: 2.75rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
  position: relative;
}
.hero-content__text {
  display: inline-block;
  font-size: 1.25rem;
  margin: 0;
  position: relative;
}
.hero-content__text::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #5b5b5b;
  filter: blur(100px);
}
.hero-slide {
  opacity: 0;
  display: none;
  z-index: 0;
}
.hero-slide.active {
  display: block;
  z-index: 10;
  opacity: 1;
}
.hero-slide.hidden {
  opacity: 0;
}
.hero-images {
  position: absolute;
  max-height: 100%;
  right: 4rem;
  bottom: 0;
}
.hero-images__title {
  position: absolute;
  right: 0;
  top: -2.5rem;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
  text-align: right;
  margin-bottom: 0.5rem;
}
.hero-images__title::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #5b5b5b;
  filter: blur(100px);
}
.hero-images__screen {
  display: block;
  width: 31.5rem;
}
.hero-images__screen_mobile {
  display: none;
}
.hero-images__assets {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
}
.hero-images__assets .windows {
  display: flex;
  flex-direction: column;
}
.hero-images__assets .window {
  width: 13.5rem;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
  margin-bottom: 1.25rem;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.2);
}
.hero-images__assets .window img {
  width: 100%;
}

@media (max-width: 1200px) {
  .hero {
    height: auto;
    padding-bottom: 0;
  }
  .hero-slide .hero-images {
    position: relative;
    bottom: auto;
    right: auto;
  }
  .hero-images {
    margin-top: 1.5rem;
  }
  .hero-images__screen {
    display: none;
  }
  .hero-images__screen_mobile {
    display: block;
  }
  .hero-images__title {
    position: relative;
    top: auto;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .hero-content__text br {
    display: none;
  }
  .hero-images__assets {
    width: 100%;
    transform: translateX(-5%);
  }
  .hero-images__assets .window {
    max-width: 50%;
  }
}
.page-hero__title {
  font-size: 2.5rem;
  font-weight: 400;
  position: relative;
  margin-bottom: 1.75rem;
  color: #213b59;
}
.page-hero__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  height: 2px;
  width: 3.5rem;
  background: #213b59;
}
.page-hero__subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: #213b59;
}
.page-hero__images {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10%;
}
.page-hero__images img {
  position: relative;
  width: 60%;
  z-index: 1;
}
.page-hero__images img:last-child {
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 768px) {
  .page-hero__title {
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .page-hero__title::after {
    width: 50%;
    left: 50%;
    bottom: -1rem;
    transform: translateX(-50%);
  }
  .page-hero__subtitle {
    text-align: center;
  }
}
.about {
  background-color: #e7e7e7;
  position: relative;
}
.about-image {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}
.about-image::before {
  content: "";
  position: absolute;
  width: 46.5%;
  height: 100%;
  background-color: #335472;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
}
.about-image img {
  height: 100%;
  max-height: 100%;
}
.about__subtitle {
  font-size: 1rem;
  color: #0066af;
  font-weight: 400;
  margin-bottom: 0;
}
.about__title {
  font-size: 3.75rem;
  font-weight: 500;
  color: #0066af;
  margin: 0 0 1rem;
}
.about p,
.about li {
  font-size: 1.25rem;
  color: #213b59;
  line-height: 150%;
}
.about p {
  margin: 0;
}
.about__link {
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  .about-image {
    position: static;
    max-height: 14rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .about-image::before {
    display: none;
  }
  .about p {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .about {
    text-align: center;
  }
  .about__subtitle {
    font-size: 1.5rem;
  }
  .about ul {
    text-align: center;
  }
}
.video {
  background: #335472;
  position: relative;
  z-index: 1;
}
.video-preview {
  border: 1px solid #8d8d8d;
  position: relative;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
}
.video-preview__image {
  width: 100%;
}
.video-preview__button {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 3px solid #fff;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  z-index: 1;
  padding: 0.5rem;
}
.video-preview__button::after {
  content: "";
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transition: 0.2s ease-in-out;
  transform: translate(-50%, -50%);
  position: absolute;
  background: #0066af;
  border-radius: 50%;
  z-index: -1;
}
.video-preview__button:hover {
  cursor: pointer;
}
.video-preview__button:hover::after {
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 0;
}
.card::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  transition: 0.3s ease-in-out;
  will-change: transform;
}
.card-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.1%, #33466b 100%);
  left: 0;
  bottom: 0;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-link {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.75rem 1.25rem;
  bottom: 0;
  line-height: 1.25;
}
.card-link .link__icon {
  flex-shrink: 0;
}
.card:hover .card-image {
  transform: scale(1.1) translateZ(0px);
}

.satellite-card {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  background-color: #0066af;
  border: 2px solid #fff;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.2);
  display: block;
  text-decoration: none;
}
.satellite-card__image {
  width: 100%;
  height: auto;
  transition: 0.3s ease-in-out;
  will-change: transform;
  padding-top: 1rem;
  padding-left: 4rem;
  padding-right: 3.5rem;
}
.satellite-card__link {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.75rem 1.25rem;
  bottom: 0;
  line-height: 1.25;
}
.satellite-card__link .link__icon {
  flex-shrink: 0;
}
.satellite-card:hover .satellite-card-image {
  transform: scale(1.1) translateZ(0px);
}

@media (max-width: 768px) {
  .card_large::after {
    padding-bottom: calc((100% - 2rem) / 2);
  }
}
@media (max-width: 576px) {
  .card {
    margin: 0 auto;
  }
  .card::after {
    padding-bottom: 60%;
  }
}
.content-card {
  box-shadow: 2px 3px 8px #b0c1df;
  white-space: initial;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content-card__image {
  flex: 0 0 auto;
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.content-card__content {
  flex: 1 1 auto;
  padding: 2rem 1.75rem;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-card__title {
  max-width: 100%;
  width: 100%;
  font-size: 1.25rem;
  color: #213b59;
  margin-bottom: 1.25rem;
  font-weight: 500;
  margin-top: 0;
}
.content-card__text {
  max-width: 100%;
  width: 100%;
  font-size: 1.25rem;
  color: #213b59;
  margin-bottom: 1.25rem;
  font-weight: 400;
  margin-top: 0;
}
.content-card__small {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  color: #595959;
}/*# sourceMappingURL=style.css.map */