@mixin arrow-button-style($icon-color-primary, $icon-color-secondary) {
	.icon {
		@include icon-style($icon-color-primary, $icon-color-secondary);
	}
	&:not(:disabled):not(.slick-disabled):hover {
		cursor: pointer;
		.icon {
			@include icon-hover($icon-color-secondary);
		}
	}
}

.arrow-button {
	@include arrow-button-style($primary, transparent);

	border: none;
	background: none;
	display: inline-block;
	padding: 0;
	.icon {
		@include icon-size(3rem, 2px);
	}

	&:disabled,
	&.slick-disabled {
		@include arrow-button-style(#b7b7b7, transparent);
		&:hover {
			cursor: no-drop;
		}
	}

	&_left {
		svg {
			transform: rotate(180deg);
		}
	}
	&_top {
		svg {
			transform: rotate(-90deg);
		}
	}
	&_bottom {
		svg {
			transform: rotate(90deg);
		}
	}

	&_dark {
		@include arrow-button-style($text-dark, transparent);
	}
}

.scroll-to-top {
	position: fixed;
	bottom: 2.5rem;
	right: 2.5rem;
	display: none;
	&.active {
		display: flex;
	}
}

@media screen and (max-width: $md-screen) {
	.arrow-button {
		border-width: 1px;
	}
}

@media (max-width: $sm-screen) {
	.arrow-button {
		padding: 0;
	}
}
