* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: #f6f6f6;
}

.main {
  position: relative;
  margin-top: 10.25rem;
}

img {
  max-width: 100%;
}

.slider-buttons {
  display: flex;
  .arrow-button:first-child {
    margin-right: 1rem;
  }
}

.slider {
  position: relative;
  width: 100%;
}

.lang {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: #969696;
  &_active {
    color: $active_dark;
  }
  &_white {
    color: #adadad;
  }
  &_white &_active {
    color: #fff;
  }
}
@media (min-width: $xxl-screen) {
  .container {
    max-width: 1440px;
  }
  .outer-container {
    max-width: 1600px;
  }
}
@media (max-width: $xxl-screen) {
  html {
    font-size: 85%;
  }
}
@media (max-width: $xl-screen) {
  html {
    font-size: 70%;
  }
  .outer-container {
    max-width: 1200px;
  }
}
@media (max-width: $lg-screen) {
  html {
    font-size: 70%;
  }
  .main {
    padding: 0 2rem;
  }
}
@media (max-width: $md-screen) {
  html {
    font-size: 60%;
  }
}

// @media (min-width: 1600px) {
//   .container {
//     max-width: 1340px;
//   }
// }
// @media (min-width: 1600px) {
//   .container {
//     max-width: 1340px;
//   }
// }
// @media (min-width: 1600px) {
//   .container {
//     max-width: 1340px;
//   }
// }
// @media (min-width: 1600px) {
//   .container {
//     max-width: 1340px;
//   }
// }
// @media (min-width: 1600px) {
//   .container {
//     max-width: 1340px;
//   }
// }
