* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	min-width: 0;
}
body {
	background: #f6f6f6;
}
h3 {
	color: inherit;
	font-weight: 400;
	font-size: 2rem;
}
p {
	color: inherit;
	font-size: 1.25rem;
	line-height: 1.5;
}

img {
	max-width: 100%;
	object-fit: cover;
	vertical-align: middle;
}
h4 {
	font-weight: 500;
	font-size: 1.5rem;
	margin: 1.25rem 0;
}
ul {
	font-size: 1.25rem;
	list-style-type: "—";
	list-style-position: "outside";
	margin: 0.5rem 0;
	padding-left: 1rem;
	li {
		padding-left: 0.5rem;
		line-height: 1.5;
	}
}

.viewer-toolbar {
	ul {
		list-style: initial;
		li {
			font-size: 0;
			line-height: 0;
			padding-left: initial;
		}
	}
}

.image-viewer {
	cursor: zoom-in;
}

.w-4 {
	width: 4rem;
}
.mb-16 {
	margin-bottom: 16rem;
}
.main {
	position: relative;
	margin-top: 8rem;
}
.caption {
	font-size: 1rem;
	text-align: center;
	margin-top: 1rem;
	line-height: 1.5;
}
.slider-buttons {
	display: flex;
	.arrow-button:first-child {
		margin-right: 0.75rem;
	}
}

.slider {
	position: relative;
	width: 100%;
}

.slick-track {
	display: flex !important;
}
.slick-slide {
	height: inherit !important;
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.lang {
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-weight: 500;
	color: #969696;
	&__text {
		color: #969696;
	}
	& a {
		color: $primary_dark;
		text-decoration: none;
	}
	&__white &__text {
		color: #adadad;
	}
	&_white a {
		color: #fff;
	}
}

.image-layers {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 10%;
	img {
		position: relative;
		width: 65%;
		z-index: 1;
	}
	&__top {
		box-shadow: 0.5rem 0.5rem 1rem rgba(#000, 0.15);
	}
	img.image-layers__bottom {
		z-index: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.icv__circle {
	background: $primary_light;
}
.icv__arrow-wrapper svg path {
	stroke: #fff;
}

.color-blocks {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	&-item {
		display: flex;
		align-items: center;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
}

.color-block {
	&__color {
		width: 3rem;
		height: 1.5rem;
	}
	&__text {
		margin-left: 0.5rem;
		display: inline-block;
	}
}

@media (min-width: $xxl-screen) {
	.container {
		max-width: 1440px;
	}
	.outer-container {
		max-width: 1600px;
		padding: 0;
	}
}

@media (min-width: 2000px) {
	html {
		font-size: 120%;
	}
	.container {
		max-width: 1740px;
	}
	.outer-container {
		max-width: 1900px;
		padding: 0;
	}
}
@media (max-width: $xxl-screen) {
	.outer-container {
		max-width: 1340px;
	}
}
@media (max-width: $xl-screen) {
	html {
		font-size: 75%;
	}
	.outer-container {
		max-width: 1100px;
	}
}
@media (max-width: $lg-screen) {
	html {
		font-size: 75%;
	}
	.main {
		padding: 0 2rem;
	}
	.outer-container {
		max-width: none;
		padding: 0 2rem;
	}
}
@media (max-width: $md-screen) {
	html {
		font-size: 62.5%;
	}
	.icv__circle {
		max-width: 2.5rem;
		max-height: 2.5rem;
	}
	.icv__control {
		svg {
			max-width: 1.25rem;
			max-height: 1.25rem;
		}
		.icv__arrow-wrapper {
			&:first-child {
				margin-left: 8px;
			}
			&:last-child {
				margin-right: 8px;
			}
		}
	}
}
// @media (min-width: 1600px) {
//   .container {
//     max-width: 1340px;
//   }
// }
// @media (min-width: 1600px) {
//   .container {
//     max-width: 1340px;
//   }
// }
// @media (min-width: 1600px) {
//   .container {
//     max-width: 1340px;
//   }
// }
// @media (min-width: 1600px) {
//   .container {
//     max-width: 1340px;
//   }
// }
// @media (min-width: 1600px) {
//   .container {
//     max-width: 1340px;
//   }
// }
