.card {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	&::after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}
	&-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 101%;
		height: 101%;
		transition: 0.3s ease-in-out;
		will-change: transform;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.1%, #33466b 100%);
			left: 0;
			bottom: 0;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&-link {
		height: 100%;
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 1rem 1.5rem;
		bottom: 0;
		line-height: 1.25;
		.link__icon {
			flex-shrink: 0;
		}
	}
	&:hover &-image {
		transform: scale(1.1) translateZ(0px);
	}
}

@media (max-width: $sm-screen) {
	.card_large {
		&::after {
			padding-bottom: calc((100% - 3rem) / 2);
		}
	}
}

@media (max-width: $xs-screen) {
	.card {
		margin: 0 auto;
		&::after {
			padding-bottom: 60%;
		}
	}
}

.satellite-card {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	background-color: $primary;
	border: 2px solid #fff;
	box-shadow: 0.25rem 0.25rem 0.6rem rgba(#000, 0.2);
	&__image {
		width: 100%;
		height: auto;
		transition: 0.3s ease-in-out;
		will-change: transform;
		padding-top: 1rem;
		padding-left: 5rem;
		padding-right: 4rem;
	}
	&__link {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 1rem 1.5rem;
		bottom: 0;
		line-height: 1.25;
		.link__icon {
			flex-shrink: 0;
		}
	}
	&:hover &-image {
		transform: scale(1.1) translateZ(0px);
	}
}
