.link {
	font-size: 1.25rem;
	color: $primary;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	&__icon {
		vertical-align: middle;
		margin-left: 0.75rem;
		width: 1.75rem;
		height: 1.75rem;
		display: inline-block;
		border-radius: 50%;
		position: relative;
		z-index: 1;
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			border: 0px solid $primary;
			transition: 0.2s ease-in-out all;
			background: #fff;
			transform: translate(-50%, -50%);
			position: absolute;
			border-radius: 50%;
			z-index: -2;
		}
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			transition: 0.2s ease-in-out all;
			transform: translate(-50%, -50%);
			position: absolute;
			border: 1px solid #fff;
			background: $primary;
			border-radius: 50%;
			z-index: -1;
		}
		svg {
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 15%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			path {
				transition: 0.2s ease-out;
			}
		}
	}

	&:hover {
		.link__icon {
			&::after {
				width: 0;
				height: 0;
			}
			&::before {
				border-width: 1px;
			}
			svg > path {
				fill: $primary;
			}
		}
	}

	&_white {
		color: #fff;
		.link__icon {
			&::before {
				background: $primary;
				border-color: #fff;
			}
			&::after {
				background: #fff;
				border-color: $primary;
			}
			svg > path {
				fill: $primary;
			}
		}
		&:hover {
			.link__icon {
				svg > path {
					fill: #fff;
				}
			}
		}
	}
	&_right {
		text-align: right;
	}
	&_big {
		display: flex;
		align-items: center;
		line-height: 1.5;
		.link__icon {
			width: 3rem;
			height: 3rem;
			svg {
				padding: 30%;
			}
		}
	}
	&_dark {
		color: $primary-dark;
		.link__icon {
			&::before {
				border-color: $primary-dark;
			}
			&::after {
				background: $primary-dark;
			}
		}
		&:hover {
			.link__icon {
				svg > path {
					fill: $primary-dark;
				}
			}
		}
	}
	&_up {
		.link__icon {
			transform: rotate(-45deg);
			svg {
				padding: 20%;
			}
		}
	}
	&_down {
		.link__icon {
			transform: rotate(45deg);
			svg {
				padding: 20%;
			}
		}
	}
}
