@mixin link-style($text-color, $icon-color-secondary, $icon-color-primary) {
	color: $text-color;
	.icon {
		@include icon-style($icon-color-primary, $icon-color-secondary);
	}
	&:hover {
		.icon {
			@include icon-hover($icon-color-secondary);
		}
	}
}

@mixin link-rotation($rotation) {
	.icon {
		transform: rotate($rotation);
	}
}

.link {
	font-size: 1.25rem;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	@include link-style($primary, $primary, #fff);
	.icon {
		@include icon-size(1.75rem, 1px);
		margin-left: 0.5rem;
	}
	&_white {
		@include link-style(#fff, #fff, $primary);
	}
	&_dark {
		@include link-style($primary-dark, $primary-dark, #fff);
	}
	&_right {
		text-align: right;
	}
	&_big {
		display: flex;
		align-items: center;
		line-height: 1.5;
		.icon {
			@include icon-size(3rem, 2px);
			margin-left: 1rem;
		}
	}
	&_up {
		@include link-rotation(-45deg);
	}
	&_down {
		@include link-rotation(45deg);
	}
}
