@mixin logo-style($color) {
	.logo {
		&__image path {
			fill: $color;
		}
		&__line {
			background-color: $color;
		}
		&__text {
			color: $color;
		}
	}
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	@include logo-style($primary-dark);
	&__image {
		width: 3.5rem;
		display: block;
		svg {
			width: 100%;
			min-width: 100%;
			max-width: 100%;
		}
	}
	&__line {
		height: 5rem;
		width: 3px;
		display: inline-block;
		margin: 0 1rem;
	}
	&__text {
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: bold;
	}
	&_white {
		@include logo-style(#fff);
	}
}
