.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	&__image {
		width: 4rem;
		display: block;
		.svg {
			width: 100%;
			min-width: 100%;
			max-width: 100%;
		}
	}
	&__line {
		height: 6.25rem;
		width: 3px;
		background-color: $primary_dark;
		display: inline-block;
		margin: 0 1rem;
	}
	&__text {
		text-transform: uppercase;
		color: $primary_dark;
		font-size: 1.25rem;
		font-weight: bold;
	}
	&_white &__image path {
		fill: #fff;
	}
	&_white &__line {
		background-color: #fff;
	}
	&_white &__text {
		color: #fff;
	}
}
