.page-hero {
	&__title {
		font-size: 2.75rem;
		font-weight: 400;
		position: relative;
		margin-bottom: 1.75rem;
		color: $text-dark;
		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -0.5rem;
			height: 2px;
			width: 3.5rem;
			background: $text-dark;
		}
	}
	&__subtitle {
		font-size: 1.25rem;
		font-weight: 400;
		color: $text-dark;
	}
	&__images {
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
		padding-top: 10%;
		img {
			position: relative;
			width: 60%;
			z-index: 1;
		}
		img:last-child {
			z-index: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

@media (max-width: $sm-screen) {
	.page-hero {
		&__title {
			text-align: center;
			margin-bottom: 2.5rem;
			&::after {
				width: 50%;
				left: 50%;
				bottom: -1rem;
				transform: translateX(-50%);
			}
		}
		&__subtitle {
			text-align: center;
		}
	}
}
