@mixin section-style($text-color, $background-color) {
	background: $background-color;
	color: $text-color;
	.section-title {
		color: $text-color;
		&::after {
			background: $text-color;
		}
		&::before {
			background: $text-color;
		}
	}
	.section-background {
		&_cutted {
			&::after {
				background: $background-color;
			}
		}
	}
}

.section {
	max-width: 1600px;
	margin: 8rem auto;
	padding: 3.5rem 0;
	position: relative;
	z-index: 1;
	&:first-child {
		margin-top: 0;
	}
	&_blue {
		@include section-style($text-dark, #ddeaf6);
	}
	&_dark-blue {
		@include section-style(#fff, #335472);
	}
	&_gray {
		@include section-style($text-dark, #e7e7e7);
	}
	&-background {
		position: absolute;
		opacity: 60%;
		bottom: 0;
		left: 0;
		z-index: -1;
		max-height: 100%;

		&_right {
			left: auto;
			right: 0;
		}
		&_cutted {
			width: 50%;
			right: 0;
			opacity: 100%;
			left: auto;
			z-index: 10;
			height: 100%;
			img {
				position: relative;
				height: 100%;
				width: 100%;
			}
			&::after {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				left: -1.5rem;
				top: 0;
				z-index: -1;
			}
			&_down {
				img {
					clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
				}
				&::after {
					clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
				}
			}
			&_up {
				img {
					clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
				}
				&::after {
					clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
				}
			}
		}
	}
	&-title {
		margin: 0;
		font-size: 2rem;
		font-weight: 400;
		position: relative;
		display: flex;
		align-items: flex-end;
		margin-bottom: 3rem;
		&::after,
		&::before {
			display: block;
			margin-left: 1rem;
			margin-bottom: 0.5rem;
			flex: 1 1 auto;
			content: "";
			height: 2px;
		}
		&::before {
			margin-left: 0;
			margin-right: 1rem;
			display: none;
		}
		&_right {
			&::before {
				display: block;
			}
			&::after {
				display: none;
			}
		}
	}
	&-text {
		font-size: 1.25rem;
		line-height: 1.5;
		margin-bottom: 1.75rem;
	}
	&__between {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: -4rem;
		transform: translateY(50%);
	}
}
@media (min-width: 2000px) {
	.section {
		max-width: 1900px;
	}
}
@media (max-width: $xxl-screen) {
	.section {
		max-width: 1340px;
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

@media (max-width: $xl-screen) {
	.section {
		max-width: 1100px;
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@media (max-width: $lg-screen) {
	.section {
		max-width: none;
		padding-left: 1.75rem;
		padding-right: 1.75rem;
		width: 100%;
	}
}
@media (max-width: $sm-screen) {
	.section {
		&-title {
			text-align: center;
			display: block;
			position: relative;
			padding-bottom: 0;
			&::after {
				position: absolute;
				bottom: -1.5rem;
				width: 80%;
				left: 50%;
				transform: translateX(-50%);
				opacity: 0.4;
				margin: 0;
			}
		}
		&-text {
			text-align: center;
		}
	}
}
