.section {
	max-width: 1600px;
	margin: 8rem auto;
	padding: 3.5rem 0;
	position: relative;
	z-index: 1;
	&:first-child {
		margin-top: 0;
	}
	&_blue {
		background: #ddeaf6;
		color: $text-dark;
	}
	&_dark-blue {
		background: #335472;
		color: #fff;
	}
	&_gray {
		background: #e7e7e7;
		color: $text-dark;
	}
	&-background {
		position: absolute;
		opacity: 60%;
		bottom: 0;
		left: 0;
		z-index: -1;
		max-height: 100%;
		&_right {
			left: auto;
			right: 0;
		}
	}
	&-title {
		margin: 0;
		font-size: 2rem;
		font-weight: 400;
		position: relative;
		display: flex;
		align-items: flex-end;
		margin-bottom: 3rem;
		color: $text-dark;
		&::after {
			display: block;
			margin-left: 1rem;
			margin-bottom: 0.5rem;
			flex: 1 1 auto;
			content: "";
			height: 2px;
			background: $text-dark;
		}
		&::before {
			display: none;
		}
		&_right {
			&::before {
				display: block;
				margin-right: 1rem;
				margin-bottom: 0.5rem;
				flex: 1 1 auto;
				content: "";
				height: 2px;
				background: #fff;
			}
			&::after {
				display: none;
			}
		}
		&_white {
			color: #fff;
			&::after {
				background: #fff;
			}
		}
	}
	&-text {
		font-size: 1.25rem;
		line-height: 1.5;
		margin-bottom: 1.75rem;
		&_white {
			color: #fff;
		}
	}
	&__links {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: -4rem;
		transform: translateY(50%);
	}
	&__link {
		margin-right: 2rem;
		font-weight: 600;
		.link__icon svg {
			padding: 20%;
		}
		&:last-child {
			margin-right: 0;
		}
		&.link_up {
			color: $primary-dark;
			.link__icon {
				transform: rotate(-45deg);
				&::before {
					border-color: $primary-dark;
				}
				&::after {
					background: $primary-dark;
				}
			}
			&:hover {
				.link__icon {
					svg > path {
						fill: $primary-dark;
					}
				}
			}
		}
		&.link_down {
			.link__icon {
				transform: rotate(45deg);
			}
		}
	}
}
@media (min-width: 2000px) {
	.section {
		max-width: 1900px;
	}
}
@media (max-width: $xxl-screen) {
	.section {
		max-width: 1340px;
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

@media (max-width: $xl-screen) {
	.section {
		max-width: 1100px;
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@media (max-width: $lg-screen) {
	.section {
		max-width: none;
		padding-left: 1.75rem;
		padding-right: 1.75rem;
		width: 100%;
	}
}
@media (max-width: $sm-screen) {
	.section {
		&-title {
			text-align: center;
			display: block;
			position: relative;
			padding-bottom: 0;
			&::after {
				position: absolute;
				bottom: -1.5rem;
				width: 80%;
				left: 50%;
				transform: translateX(-50%);
				opacity: 0.4;
				margin: 0;
			}
		}
		&-text {
			text-align: center;
		}
	}
}
