.slidedown {
	padding: 2rem 0;
	border-top: 2px solid $primary_dark;
	&:first-child {
		border-top: none;
	}
	&-button {
		border: none;
		background: none;
		font-size: 1.75rem;
		color: inherit;
		font-weight: 500;
		display: flex;
		align-items: center;
		cursor: pointer;
		text-align: left;
		.icon {
			@include icon-size(2.5rem, 2px);
			@include icon-style($primary_dark, #fff);
			margin-right: 0.5rem;
		}
	}
	&.active &-button .icon {
		@include icon-rotate(180deg);
		@include icon-hover(#fff);
	}
	&-content {
		display: none;
		padding-top: 2rem;
		padding-left: 4rem;
		h4 {
			font-size: 1.5rem;
			line-height: 1.5;
			margin: 0;
		}
		ul li {
			font-size: 1.5rem;
			line-height: 1.5;
		}
		p {
			font-size: 1.5rem;
			line-height: 1.5;
		}
	}
}

@media screen and (max-width: $sm-screen) {
	.slidedown {
		padding: 1rem 0;
		border-width: 1px;
		&-button {
			font-size: 1.5rem;
		}
		&-content {
			padding-left: 0rem;
		}
	}
}
