.tabs {
	margin-bottom: 6.5rem;
	position: relative;
	padding: 0;
	padding-bottom: 1.75rem;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background: rgba($primary-dark, 0.3);
		bottom: 0;
		left: 0;
	}
	&-content {
		position: relative;
	}
	&-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $primary-dark;
		text-decoration: none;
		position: relative;
		&::after {
			display: none;
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			background: $green;
			bottom: -1.75rem;
			left: 0;
		}
		&__image {
			width: 4rem;
			height: 4rem;
			max-width: 100%;
		}
		&__title {
			text-align: center;
			color: inherit;
			margin-top: 0.5rem;
			margin-bottom: 0.75rem;
			font-size: 1rem;
		}
		&__arrow {
			width: 1rem;
			height: 1rem;
			transform: rotate(180deg);
		}
		&_active {
			color: $green;
			z-index: 10;
			&::after {
				display: block;
			}
		}
		&_active > &__image {
			path {
				fill: $green;
			}
		}
		&_active &__arrow {
			path {
				fill: $green;
			}
		}
	}
	&__links {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: -4rem;
	}
	&__link {
		margin-right: 2rem;
		font-weight: 600;
		.link__icon svg {
			padding: 20%;
		}
		&:last-child {
			margin-right: 0;
		}
		&.link_up {
			color: $primary-dark;
			.link__icon {
				transform: rotate(-45deg);
				&::before {
					border-color: $primary-dark;
				}
				&::after {
					background: $primary-dark;
				}
			}
			&:hover {
				.link__icon {
					svg > path {
						fill: $primary-dark;
					}
				}
			}
		}
		&.link_down {
			.link__icon {
				transform: rotate(45deg);
			}
		}
	}
}
.tab_hidden {
	display: none;
}

@media screen and (max-width: $sm-screen) {
	.tabs {
		overflow-x: scroll;
		overflow-y: visible;
		&-item {
			width: 10rem;
		}
		&__links {
			flex-direction: column;
			align-items: center;
			bottom: -6rem;
		}
		&__link {
			margin-right: 0;
			margin-bottom: 1rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
