@mixin tab-style($color, $line-color) {
	color: $color;
	&::after {
		background: $line-color;
	}
	.tabs-item {
		&__image {
			path {
				fill: $color;
			}
		}
		&__arrow {
			path {
				fill: $color;
			}
		}
	}
}

.tabs {
	overflow: auto;
	margin-bottom: 6.5rem;
	position: relative;
	padding: 0;
	padding-bottom: 1.75rem;
	&-content {
		position: relative;
	}
	&-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		position: relative;
		@include tab-style($primary-dark, rgba($primary-dark, 0.3));
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: -1.75rem;
			left: 0;
		}
		&__image {
			width: 4rem;
			height: 4rem;
			max-width: 100%;
		}
		&__title {
			text-align: center;
			color: inherit;
			margin-top: 0.5rem;
			margin-bottom: 0.75rem;
			font-size: 1rem;
		}
		&__arrow {
			width: 1rem;
			height: 1rem;
			transform: rotate(180deg);
		}
		&_active {
			z-index: 10;
			@include tab-style($green, $green);
		}
	}
}
.tab_hidden {
	display: none;
}

@media screen and (max-width: $sm-screen) {
	.tabs {
		&-item {
			width: 10rem;
		}
		&__links {
			flex-direction: column;
			align-items: center;
			bottom: -6rem;
		}
		&__link {
			margin-right: 0;
			margin-bottom: 1rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
