$primary_dark: #335472;
$primary: #0066af;
$primary_light: #0076e4;

$green: #07959e;

$primary_100: #cce0ef;
$primary_200: #99c2df;
$primary_300: #66a3cf;
$primary_400: #3385bf;
$primary_500: $primary;
$primary_600: #00528c;
$primary_700: #003d69;
$primary_800: #002946;
$primary_900: #001423;
$green_100: #cdeaec;
$green_200: #9cd5d8;
$green_300: #6abfc5;
$green_400: #39aab1;
$green_500: $green;
$green_600: #06777e;
$green_700: #04595f;
$green_800: #033c3f;
$green_900: #011e20;

$text-dark: #213b59;

$xxl-screen: 1660px;
$xl-screen: 1400px;
$lg-screen: 1200px;
$md-screen: 992px;
$sm-screen: 768px;
$xs-screen: 576px;
