.video {
	background: $primary_dark;
	position: relative;
	z-index: 1;
	&-preview {
		border: 1px solid #8d8d8d;
		position: relative;
		box-shadow: 0.5rem 0.5rem 1rem rgba(#000, 0.25);
		&__image {
			width: 100%;
		}
		&__button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 4rem;
			height: 4rem;
			background: none;
			box-shadow: 0 0.25rem 0.25rem rgba(#000, 0.25);
			z-index: 1;
			padding: 0;
			border: none;
			.icon {
				@include icon-style(#fff, transparent);
				@include icon-size(4rem, 3px);
			}
			&:hover {
				cursor: pointer;
				.icon {
					@include icon-hover(transparent, $primary);
				}
			}
		}
	}
}
